body {
    font-family: 'Merriweather', serif;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
  }

img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
  }